# Insert 100 examples into the water_quality table

In [24]:
import pandas as pd


data = pd.read_csv('data/water_potability.csv')
shuffle_data = data.sample(frac=1).reset_index(drop=True)

examples = shuffle_data.head(10)
examples

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,8.757111,185.419367,31040.884494,8.544764,NaN,408.095797,18.235220,72.299662,3.808793,1
1,4.624304,121.036319,22981.749411,8.297074,372.037359,260.566164,13.054030,66.553465,3.424250,0
2,6.630364,186.761088,30939.023214,7.703481,NaN,330.876083,13.815757,86.753117,3.490588,0
3,5.821707,220.125423,40009.723610,6.631836,NaN,493.118346,12.420834,49.129301,3.908199,0
4,7.744773,208.920340,27648.159653,5.622572,332.823799,397.057474,12.486192,73.184557,5.016321,0
...,...,...,...,...,...,...,...,...,...,...
95,7.605675,210.371436,9583.710441,8.509403,371.471690,325.683691,11.781265,86.513474,5.554075,1
96,NaN,229.620616,19955.710542,7.608653,285.432681,491.880578,11.026909,85.241873,3.113764,0
97,5.376078,185.540478,36026.401556,9.649943,343.486633,347.565066,14.004449,NaN,3.629250,1
98,6.246118,199.098973,27001.335319,7.808013,296.923626,478.745945,17.128023,84.798956,4.755158,0
99,4.638250,182.419621,34261.985889,6.197716,307.458454,439.117705,7.760853,NaN,4.124538,1

In [25]:
examples.to_csv('datapoints.csv', index=False)