# Insert 10 examples into the water_quality table

In [4]:
import pandas as pd


data = pd.read_csv('data/water_potability.csv')
shuffle_data = data.sample(frac=1).reset_index(drop=True)

examples = shuffle_data.head(10)
examples

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,6.448931,240.244771,13979.165723,9.077985,314.590477,473.751302,17.416903,84.024786,3.622196,1
1,8.469537,128.620079,15273.049287,10.725524,NaN,553.346260,16.930868,69.736688,4.149553,0
2,8.570129,200.071875,9782.344284,5.661697,NaN,511.161511,11.856089,66.048413,4.604405,0
3,4.091411,146.789938,24252.458824,7.254981,282.693502,482.294404,10.611556,70.069442,5.952325,0
4,8.014183,244.120098,30566.767504,7.714447,307.987458,309.930428,22.641598,61.578461,3.417076,1
5,NaN,235.789794,21983.559073,6.061284,331.272919,441.216193,12.743570,66.899833,4.494460,0
6,6.967697,177.055890,22886.965735,6.430935,315.282902,507.790062,15.288038,35.767601,4.819637,1
7,8.315268,229.757446,15077.850343,7.053503,NaN,446.954910,12.195094,77.523430,4.128525,1
8,6.101955,215.268090,15976.926225,8.857160,308.482695,417.843553,13.147279,62.505642,3.535596,1
9,5.289618,194.056393,21776.170174,6.278293,359.099733,353.772930,14.181471,33.592031,4.548100,1

In [3]:
examples.to_csv('datapoints.csv', index=False)