# Insert 10 examples into the water_quality table

In [26]:
import pandas as pd


data = pd.read_csv('data/water_potability.csv')
shuffle_data = data.sample(frac=1).reset_index(drop=True)

examples = shuffle_data.head(10)
examples

,ph,Hardness,Solids,Chloramines,Sulfate,Conductivity,Organic_carbon,Trihalomethanes,Turbidity,Potability
0,5.319769,204.202072,22390.795566,8.053559,315.027505,399.119025,13.974085,83.157997,2.925732,0
1,10.538098,200.139829,13867.244196,7.365015,409.446730,340.808823,17.073123,72.730639,3.823093,1
2,6.548018,176.006536,38368.012618,7.415054,278.093309,291.121528,19.422535,81.368568,5.930228,0
3,7.675914,233.300759,23673.100606,8.407497,NaN,232.613624,18.459408,60.993590,5.040461,0
4,4.633203,208.908036,29307.128945,6.125585,304.031776,456.214828,10.817158,111.115310,4.751859,0
5,7.445189,225.397787,24741.534999,9.248499,NaN,402.115616,15.535979,87.083919,3.637895,0
6,7.976901,234.779380,15360.835068,5.736027,377.178119,613.633548,14.191274,48.915881,4.753608,1
7,4.668102,193.681735,47580.991603,7.166639,359.948574,526.424171,13.894419,66.687695,4.435821,1
8,6.581083,217.538504,24480.671795,5.837152,310.632910,476.458667,11.434239,48.551910,3.511370,0
9,4.497585,193.936515,27768.382870,6.906348,330.430700,556.032922,22.618411,81.265816,4.965739,0

In [27]:
examples.to_csv('datapoints.csv', index=False)